:root {
	scroll-padding-top: 60px;
	scroll-margin-top: 120px;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: hsl(223, 31%, 15%);
	/* color: #fff; */
}

section {
	background-color: #fff;
	width: 96%;
	margin: auto;
	padding: 16px;
	border-radius: 8px;
	margin-bottom: 30px;
}

section .h {
	padding-bottom: 8px;
	border-bottom: 4px dotted #333 !important;
}

.skill-list {
	list-style: none;
	padding: 0;
}
.skill-list .skill {
	padding: 8px 12px;
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-list {
	display: flex;
	flex-direction: column;
}
.project {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.project * {
	margin-bottom: 20px;
}
.project .project-title {
	font-size: 1.8em;
	font-weight: bold;
}
.project .project-img {
  height: 200px;
  overflow: hidden;
}
.project-img img {
  height: 100%;
  width: 100%;
}
.project a.project-link {
  color: hsl(223, 31%, 15%) !important;
}

.contact-list {
	list-style: none;
	padding-left: 10px;
}

.contact-list > li > i[class*='fa'] {
	margin-left: 20px;
	margin-right: 20px;
}
