:root {
	scroll-padding-top: 60px;
	scroll-margin-top: 120px;
  scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: hsl(223, 31%, 15%);
	/* color: #fff; */
}

section {
	background-color: #fff;
	width: 96%;
	margin: auto;
	padding: 16px;
	border-radius: 8px;
	margin-bottom: 30px;
}

section .h {
	padding-bottom: 8px;
	border-bottom: 4px dotted #333 !important;
}

.skill-list {
	list-style: none;
	padding: 0;
}
.skill-list .skill {
	padding: 8px 12px;
	border-right: 3px solid #ccc;
	margin-top: 5px;
}
.skill div {
	display: flex;
	justify-content: space-between;
}

.progress-circle {
	border: 3px solid #ccc;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8em;
	color: #ccc;
}
